table, th, td {
    border: 1px black solid;
}

input {
    font-family: Lucida Console, Courier, monospace;
    font-size: large;
}

button {
    margin-top: 2em;
}

th {
    background-color: lightgrey;
}

#top-table {
    margin-bottom: 0.75em;
}

#audio-file-type-actions {
    margin-top: 0.75em;
}